<div class="row">
  <div class="col-md-6">
    <form [formGroup]="loginForm" (ngSubmit)="Login()">
      <h3>Malaw</h3>
      <div class="title-block">
        <h5 class="form-title">Se connecter</h5>
        <a class="link right" [routerLink]="['/horizontal/requests']" >Faire une demande?</a>
      </div>

      <tc-form-group>
        <tc-input [prefixIcon]="'icofont-ui-user'" [placeholder]="'Login'" formControlName="login"></tc-input>
      </tc-form-group>

      <tc-form-group>
        <tc-input [prefixIcon]="'icofont-lock'" [type]="'password'" [placeholder]="'Password'" formControlName="password"></tc-input>

      </tc-form-group>

      <tc-alert *ngIf="errorMessage"
              [view]="'error'"
              [iconColor]="'#ffffff'"
              [beforeIcon]="'icofont-info-circle'"
              class="mb-4 animated fadeInDown delay-01s"
      >
        {{errorMessage}}
      </tc-alert>

      <tc-form-group class="mt-1 d-flex justify-content-between align-items-center">
        <button type="submit" tc-button [view]="'info'" [block]="true" [load]="loading">Connecter</button>
      </tc-form-group>
    </form>
  </div>
  <div class="col-md-6">
    <tc-card [img]="'assets/img/sonatel/cloud.svg'" [tcGradient]="['#fff', '#fbfbfb']" class="personal-info-card">

      <div class="d-flex align-items-center justify-content-between">
        <h5 class="mb-0 mt-0 mr-1">Malaw</h5>
        <tc-rating [value]="5" [disabled]="true"></tc-rating>
      </div>

      <p [tcColor]="'#8f8f90'">Sonatel</p>
    </tc-card>
  </div>
</div>
