<div class="app-container" [ngClass]="{ 'boxed': appSettings.boxed }" *ngIf="appSettings">
  <!-- Horizontal navbar -->
  <navbar
    [boxed]="appSettings.boxed"
    [tcBgColor]="appSettings.topbarBg"
    [tcColor]="appSettings.topbarColor"
    [minHeight]="'4.28571429rem'"
    class="top-bar"
  >

    <button class="navbar-toggle d-lg-none" (click)="toggleSidebar(true)">
      <span></span>
      <span></span>
      <span></span>
    </button>

    <logo [src]="'assets/img/sonatel/logo.png'" [width]="147" [height]="33" class="d-none d-lg-block p-0"></logo>

    <search *ngIf="1 !== 1" [data]="searchData" [layout]="'horizontal'" class="d-none d-md-block"></search>

    <actions *ngIf="httpSv?.username && httpSv?.password" [layout]="'horizontal'"></actions>

    <navbar-skeleton [type]="'horizontal'" [loaded]="loaded"></navbar-skeleton>
    <button *ngIf="!httpSv?.username && !httpSv?.password"
            tc-button
            [view]="'default'"
            [beforeIcon]="'icofont-location-arrow'"
            (click)="goToLogin()"
    >
      Se connecter
    </button>
    <button *ngIf="httpSv?.username && httpSv?.password"
            tc-button
            [view]="'default'"
            [beforeIcon]="'icofont-location-arrow'"
            (click)="logout()"
    >
      Déconnexion
    </button>
  </navbar>
  <!-- end Horizontal navbar -->

  <!-- Horizontal navbar 2 -->
  <navbar
    [orientation]="'horizontal-vertical'"
    [boxed]="appSettings.boxed"
    [ngStyle]="getNavbarStyles()"
    [opened]="appSettings.sidebarOpened"
    [minHeight]="'50px'"
    [ngClass]="{ 'loading': !loaded }"
  >
    <button
      class="no-style navbar-close icofont-close-line d-lg-none"
      [tcColor]="appSettings.topbarColor"
      (click)="toggleSidebar(false)"
    ></button>

    <logo
      [src]="'assets/img/sonatel/logo.png'"
      [tcBgColor]="appSettings.topbarBg"
      [width]="147"
      [height]="33"
      class="d-lg-none"
    ></logo>

    <app-menu *ngIf="httpSv?.username && httpSv?.password" [src]="'assets/data/menu-horizontal.json'" [orientation]="'horizontal'"></app-menu>

    <navbar-skeleton [type]="'vertical'" [loaded]="loaded"></navbar-skeleton>
  </navbar>
  <!-- end Horizontal navbar 2 -->

  <main class="main-content" [ngClass]="{ 'loaded': pageData?.loaded }">
    <div class="page-loader" *ngIf="!pageData?.loaded"><i class="icofont-spinner-alt-4 rotate"></i></div>

    <div class="main-content-wrap" [ngClass]="{ 'full-filled': pageData?.fullFilled }">
      <header class="page-header" *ngIf="pageData && !pageData?.fullFilled && pageData.title.length">
        <div class="left">
          <ul class="page-breadcrumbs" *ngIf="pageData && pageData.breadcrumbs">
            <li class="item" *ngFor="let item of pageData.breadcrumbs; let last = last">
              <a class="link" [ngClass]="{ 'last': last }" routerLink="{{ item.route }}" *ngIf="item.route">
                {{ item.title }}
              </a>

              <span class="link last" *ngIf="!item.route">{{ item.title }}</span>

              <span class="separator" *ngIf="!last">|</span>
            </li>
          </ul>

          <h1 class="page-title">{{ pageData.title }}</h1>

        </div>
      </header>

      <router-outlet></router-outlet>
    </div>
  </main>

  <footer [boxed]="appSettings.boxed" [pageData]="pageData" [loaded]="loaded"></footer>


  <div class="content-overlay" [ngClass]="{ 'show': appSettings.sidebarOpened }" (click)="toggleSidebar(false)"></div>
</div>

